<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 inline">
                <h4>Mission Statement</h3>
                <br>
                <span>Provide therapists with seamless coverage solutions, enabling them to take much-needed breaks while ensuring continuity of care for their clients. </span> 
                <br>
                <br>
                <span>We are committed to ethical and professional practice, and strive to build a community of trusted and supportive therapists. </span>
                <br>
            </div>
            <div class="col-lg-6 text-right inline">
                <h4>Who We Are</h4>
                <br>
                <span>A team of therapists and engineers dedicated<br>to providing better emergency coverage solutions.</span>
                <br>
            </div>
        </div>
    </div>
</section>
