<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We have you covered.</h2>
                <hr class="light">
                <p class="text-faded">We know how challenging it is to manage your caseload and ensure that your clients are taken care of in your absence. Let us cover you.</p>
                <a href="#email" class="btn btn-default btn-xl page-scroll">Get Early Access</a>
            </div>
        </div>
    </div>
</section>
