<section id="how">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="circle">1</div>
                    <h3>Provide your away schedule</h3>
                    <br/>
                    <p class="text-muted">Sign up to our app and provide the schedule that you're planning to need coverage for.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="circle">2</div>
                    <h3>Connect your clients to us</h3>
                    <br/>
                    <p class="text-muted">Forward your client the unique CoverCare link we provide you, which they'll access to book an appointment while you are away.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="circle">3</div>
                    <h3>We support your clients so you can enjoy your break</h3>
                    <br/>
                    <p class="text-muted">If a client needs an emergency session or would just like to uphold their routine, we get them support with one of our backup counsellors within a quick turnaround time that fits their needs.</p>
                </div>
            </div>
        </div>
    </div>
</section>
